@media screen and (max-width: 768px) {

  .top {
  flex-direction: column;
  align-items: center;
  }
  .box2{
    margin-bottom: 10px;
  }
  .top-fv{
    margin: 5px auto;
  
  }
  .box1{
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  
  
  }
  
  }

  .ooo:nth-child(3){
    

  }